* {
    padding: 0;
    /* margin: 0; */
    border: 0;
}

body {

    min-width: 300px;
    padding: 10px;
    background-color: rgb(27, 54, 75);
    font-family: 'Lucida Sans Unicode', sans-serif;
    margin-top: 30px;
    text-align: center;
    color: beige;
    position: relative;


}


.btn {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
    color: inherit;
    transition: background-color 1s;
    cursor: pointer;
}

.box {
    background-color: rgb(33, 60, 80);
    position: relative;
    color: #fff;
    margin-bottom: 10px;
    max-width: 85%;
    border: 1px solid rgb(173, 173, 173);
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.1);
}

.container__btn {
    height: 20px;
    display: flex;
    flex-direction: row;
    background-color: inherit;
}


.note_active {

    background-color: rgb(91, 143, 89);
}

.inputStyle {
    display: block;
    width: 100%;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    background-color: inherit;
    color: beige;
}



.note_border {

    box-shadow: 0 0 10px 3px rgb(125, 214, 125);

}





.action__btn {
    border-radius: 3px;
    background-color: rgb(100, 190, 220);
    display: inline;
    margin-right: 10px;

}

.action__btn:hover {
    background-color: rgb(58, 193, 250);
}

.remove__btn {
    border-radius: 3px;
    display: inline;
    background-color: rgb(236, 120, 120);
}

.remove__btn:hover {
    background-color: rgb(246, 97, 97);
}


.form {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    border: 1px solid rgb(185, 168, 168);
    border-radius: 10px;


}

.form__input {
    display: block;
    width: 100%;
    height: inherit;
    padding: 5px;
    outline: none;
    background-color: inherit;

    color: beige;
}

.form:focus-within {
    border-color: beige;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}



.form__btn {
    cursor: pointer;
    padding: 5px 15px;
    color: bisque;
    display: block;
    background-color: rgb(100, 190, 220);
    transition: background-color .5s;
    border-radius: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form__btn:hover {
    background-color: rgb(39, 72, 161);
}

.user__btn {

    /* color: rgba(11, 118, 207, 0.932); */
    background-color: inherit;
    border: 1px solid rgb(185, 168, 168);
    border-radius: 4px;
    transition: background-color .3s;
    margin: 0 5px 5px 0;
}

.user__btn:not(.user__btn_active):hover {
    background-color: rgb(100, 190, 220);
}


.nav {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 35px;
}

.user__btn_active {

    background-color: rgb(100, 190, 220);
    color: bisque;
}

.empty__list {
    height: 50vh;
    align-items: flex-start;
    padding: 10px;
    background-color: inherit;
    border: 1px solid rgb(173, 173, 173);
    text-align: start;
    border-radius: 10px;

}



.popup__nav-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-right: 20px;
    height: 100%;
}

.popup__circle {
    height: 5px;
    width: 5px;
    background-color: rgb(181, 181, 176);
    border-radius: 50%;
    transition: background-color 1s;

}

.popup__nav-container:hover .popup__circle {
    background-color: #ff6600;
    cursor: pointer;
}

.popup__dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s, transform 0.8s;
    text-align: start;
    z-index: 5;
}

.popup__dropdown-menu.popup__show-modal {
    display: block;
    opacity: 1;
    transform: translateX(-87%) translateY(20px);
}

.popup__dropdown-menu p {
    margin: 0;
    padding: 5px 120px 5px 10px;
    cursor: pointer;
    font-size: 14px;
    color: #333;

    transition: background-color 0.3s, color 0.3s;
}

.popup__dropdown-menu p:hover {
    background-color: #e5e5e5;


}

.popup__dropdown-menu .done:hover {
    color: rgb(1, 188, 1);
}

.popup__dropdown-menu .save:hover {
    color: rgb(51, 128, 251);
}

.popup__dropdown-menu .edit:hover {
    color: rgb(255, 183, 48);
}

.popup__dropdown-menu .delete:hover {
    color: red;
}



.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    opacity: 0;
    /* начальное значение непрозрачности */
    transition: opacity 0.3s ease;
    /* добавляем плавное изменение непрозрачности */
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}



@media screen and (max-width: 768px) {

    body {

        font-size: 10px;
    }

    .box {
        margin: 0 auto 5px;
        border-radius: 5px;
    }


    .nav {
        justify-content: center;
    }

    .inputStyle {
        padding: 5px;

    }

    .form__btn {
        font-size: 10px;
    }
}


.modal_message {

    color: inherit;

}

@keyframes slideIn {
    from {
        top: -100%;
    }

    to {
        top: 0;
    }
}

@keyframes slideOut {
    from {
        top: 0;
    }

    to {
        top: -100%;
    }
}