* {
    padding: 0;
    border: 0;
}


body {

    min-width: 300px;
    padding: 10px;
    background-color: rgb(27, 54, 75);
    font-family: 'Lucida Sans Unicode', sans-serif;
    margin-top: 30px;
    text-align: center;
    color: beige;
    position: relative;

}



/* buttons */
.btn {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 90px;
    color: inherit;
    transition: background-color 1s;
    cursor: pointer;
}

.action__btn {
    border-radius: 3px;
    background-color: rgb(100, 190, 220);
    display: inline;
    margin-right: 10px;
    font-size: 12px;

}

.action__btn:hover {
    background-color: rgb(5, 164, 217);
}

.remove__btn {
    border-radius: 3px;
    display: inline;
    background-color: rgb(236, 120, 120);
    font-size: 12px;
}

.remove__btn:hover {
    background-color: rgb(243, 71, 71);
}


.form__btn {
    cursor: pointer;
    padding: 5px 15px;
    color: bisque;
    display: block;
    background-color: rgb(100, 190, 220);
    transition: background-color .5s;
    border-radius: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form__btn:hover {
    background-color: rgb(5, 164, 217);
}

.user__btn {

    background-color: inherit;
    border: 1px solid rgb(185, 168, 168);
    border-radius: 4px;
    transition: background-color .3s;
    margin: 0 5px 5px 0;
}

.user__btn:not(.user__btn_active):hover {
    box-shadow: 0 0 10px 3px rgb(125, 214, 214);
}

.user__btn_active {

    box-shadow: 0 0 10px 3px rgb(125, 214, 214);
    color: bisque;
}




/* containers */
.container__btn {
    height: 20px;
    display: flex;
    flex-direction: row;
    background-color: inherit;
}

.box {
    background-color: rgb(33, 60, 80);
    position: relative;
    color: #fff;
    margin-bottom: 10px;
    max-width: 85%;
    border: 1px solid rgb(173, 173, 173);
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.1);
}




/* note */
.note_active {

    background-color: rgb(91, 143, 89);
}

.note_textField {
    display: block;
    width: 100%;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    background-color: inherit;
    color: beige;
}

.boxBorder_active {

    box-shadow: 0 0 10px 3px rgb(125, 214, 125);
}




/* form */
.form {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    border: 1px solid rgb(185, 168, 168);
    border-radius: 10px;


}

.form__input {
    display: block;
    width: 100%;
    height: inherit;
    padding: 5px 10px;
    outline: none;
    background-color: inherit;

    color: beige;
}

.form:focus-within {
    border-color: beige;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}




/* nav */
.nav {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 35px;
}




/* popup */
.popup__nav-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-right: 20px;
    height: 100%;

}

.popup__circle {
    height: 5px;
    width: 5px;
    background-color: rgb(181, 181, 176);
    border-radius: 50%;
    transition: background-color 1s;

}

.popup__nav-container:hover .popup__circle {
    background-color: #ff6600;
    cursor: pointer;
}

.popup__dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s, transform 0.8s;
    text-align: start;

    z-index: 5;
}

.popup__dropdown-menu.popup__show-modal {
    display: block;
    opacity: 1;
    transform: translateX(-87%) translateY(20px);
}

.popup__dropdown-menu p {
    margin: 0;
    padding: 5px 120px 5px 10px;
    cursor: pointer;
    color: #333;

    transition: background-color 0.3s, color 0.3s;
}

.popup__dropdown-menu p:hover {
    background-color: #e5e5e5;


}

.popup__dropdown-menu .done:hover {
    color: rgb(1, 188, 1);
}

.popup__dropdown-menu .save:hover {
    color: rgb(51, 128, 251);
}

.popup__dropdown-menu .edit:hover {
    color: rgb(255, 183, 48);
}

.popup__dropdown-menu .delete:hover {
    color: red;
}




/* user-input-modal-window */
.modal_content {
    box-shadow: 0 0 10px 0 rgb(125, 214, 214);
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: inherit;
    padding: 15px 20px;
    max-width: 220px;
    border: 1px solid beige;
    border-radius: 5px;
    text-align: center;

}

.modal_content input {
    padding: 5px;
    color: inherit;
    display: block;
    background-color: inherit;
    border: 1px solid beige;
    border-radius: 3px;
    margin: 10px 0;
    align-self: center
}

.modal_content button {
    color: inherit;
    min-width: 50px;
    border-radius: 3px;
    padding: 3px 0;
}

.modal_message {

    color: inherit;

}

.modal_ok {
    background-color: rgb(100, 190, 220);
    margin-right: 10px;
}

.modal_cancel {
    background-color: rgb(236, 120, 120);
    margin-right: 5px;
}

.modal_content input:focus {
    box-shadow: 0 0 10px 0 rgb(125, 214, 214);
    outline: none;
}




/* media query */
@media screen and (max-width: 768px) {

    body {

        font-size: 10px;
    }

    div,
    input,
    button,
    p {

        font-size: inherit;
    }

    .box {
        margin: 0 auto 5px;
        border-radius: 5px;
    }


    .nav {
        justify-content: center;
    }

    .inputStyle {
        padding: 5px;

    }

    .form__btn {
        padding: 2px 7px;
    }

    .note_textField {
        padding: 5px;
    }

    .container__btn {
        height: 17px;
    }

    .btn {
        height: 25px;
        width: 70px;
        font-size: 10px;

    }

}



/* animation */
@keyframes slideIn {
    from {
        top: -100%;
    }

    to {
        top: 0;
    }
}

@keyframes slideOut {
    from {
        top: 0;
    }

    to {
        top: -100%;
    }
}