* {
    padding: 0;
    border: 0;
}

h2 {
    margin: 0;
}

body {

    min-width: 300px;
    padding: 10px;
    background-color: rgb(27, 54, 75);
    font-family: 'Lucida Sans Unicode', sans-serif;
    margin-top: 30px;
    text-align: center;
    color: beige;
    position: relative;

}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: transparent;
    z-index: 99;
    display: none;
}

.overlay.active {
    display: block;
}



/* buttons */
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    transition: background-color 1s;
    cursor: pointer;
    border-radius: 3px;
}

.action__btn,
.remove__btn {
    display: inline;
    height: 30px;
    width: 90px;
    font-size: 12px;

}

.modal_ok,
.modal_cancel {
    display: inline;
    min-width: 50px;
    height: 22px;
    padding: 3px 0;
}

.action__btn,
.modal_ok {
    background-color: rgb(100, 190, 220);
    margin-right: 10px;
}

.modal_ok:hover,
.action__btn:hover {
    background-color: rgb(5, 164, 217);
}

.remove__btn,
.modal_cancel {
    border-radius: 3px;
    display: inline;
    background-color: rgb(236, 120, 120);
    font-size: 12px;
}

.modal_cancel:hover,
.remove__btn:hover {
    background-color: rgb(243, 71, 71);
}


.form__btn {
    padding: 5px 15px;
    display: block;
    background-color: rgb(100, 190, 220);
    border-radius: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form__btn:hover {
    background-color: rgb(5, 164, 217);
}




/* containers */

/* form-container*/
.form {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    border: 1px solid rgb(185, 168, 168);
    border-radius: 10px;
}

.noteManager_flexContainer {
    height: 20px;
    display: flex;
    flex-direction: row;
    background-color: inherit;
}

.noteManager_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-right: 20px;
    height: 100%;
    z-index: 50;
    cursor: pointer;
}

.note_container {
    margin-bottom: 10px;
    max-width: 85%;
    border: 1px solid rgb(173, 173, 173);
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.1);
}

.user_selection_container {
    position: relative;
    cursor: pointer;
    display: flex;
    text-align: start;
    align-items: center;
    height: 30px;
    margin: 30px 0;
}





/* note */
.note_active {
    background-color: rgb(91, 143, 89);
}

.note_textField {
    display: block;
    width: 100%;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    background-color: inherit;
    color: beige;
}

.boxBorder_active {
    box-shadow: 0 0 10px 3px rgb(125, 214, 125);
}




/* form */
.form__input {
    display: block;
    width: 100%;
    height: inherit;
    padding: 5px 10px;
    outline: none;
    background-color: inherit;
    color: beige;

}

.form:focus-within {
    border-color: beige;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}



/* noteManager popup */
.noteManager_circle {
    height: 5px;
    width: 5px;
    background-color: rgb(181, 181, 176);
    border-radius: 50%;
    transition: background-color 1s;
}

.noteManager_container:hover .noteManager_circle {
    background-color: #ff6600;
}

.noteManager_dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    background-color: inherit;
    width: 140px;
    border-radius: 5px;
    transition: opacity 0.3s, transform 0.8s;
    text-align: start;
    line-height: 2.2;
    background-color: rgb(27, 54, 75);
}

.noteManager_container.noteManager_show-modal {
    z-index: 100;
}

.noteManager_show-modal .noteManager_dropdown {
    display: block;
    opacity: 1;
    transform: translateX(-87%) translateY(20px);
}

.noteManager_show-modal .noteManager_dropdown p {
    border-radius: 3px;
    margin: 0;
    padding-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.noteManager_show-modal .noteManager_dropdown .done:hover {
    color: rgb(1, 188, 1);
    box-shadow: 0 0 10px 0 rgb(1, 188, 1);
}


.noteManager_show-modal .noteManager_dropdown .edit:hover {
    color: rgb(255, 183, 48);
    box-shadow: 0 0 10px 0 rgb(255, 183, 48);
}

.noteManager_show-modal .noteManager_dropdown .delete:hover {
    color: red;
    box-shadow: 0 0 10px 0 red;
}




/* user-input-modal-window */
.inputUser_modal_container {
    z-index: 100;
    box-shadow: 0 0 10px 0 rgb(125, 214, 214);
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    background-color: inherit;
    padding: 25px 20px 15px;
    max-width: 220px;
    border: 1px solid beige;
    border-radius: 5px;
    text-align: center;

}

.inputUser_modal_container input {
    padding: 5px;
    color: inherit;
    display: block;
    outline: none;
    background-color: inherit;
    border: 1px solid beige;
    border-radius: 3px;
    margin: 10px 0;
    align-self: center
}

.modal_message {
    color: inherit;
}

.inputUser_modal_container input:focus {
    box-shadow: 0 0 10px 0 rgb(125, 214, 214);
    outline: none;
}



/* user_selection-popup */
.user_selection_container h2 {
    height: 100%;
}

.user_selection_dropdown {
    position: relative;
    min-width: 80px;
    height: 100%;
    margin-left: 10px;
    padding-right: 20px;
    z-index: 50;
}

.user_selection_dropdown::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border: 2px solid beige;
    right: 0;
    top: 9px;
    border-top: 2px solid rgb(27, 54, 75);
    border-right: 2px solid rgb(27, 54, 75);
    transform: rotate(-45deg);
    transition: 0.3s;
}

.user_selection_dropdown.active_userName {
    z-index: 100;
}

.user_selection_dropdown.active_userName::before {
    top: 18px;
    transform: rotate(-225deg);
}


.user_selection_dropdown .option {
    position: absolute;
    top: 37px;
    min-width: 110px;
    background-color: rgb(27, 54, 75);
    border-radius: 5px;
    display: none;
}

.user_selection_dropdown .option div {
    padding: 8px 5px 0;

}

.user_selection_dropdown .option div:hover {
    border-radius: 3px;
    box-shadow: 0 0 10px 0 rgb(125, 214, 214);
    color: aquamarine;
}

.user_selection_dropdown.active_userName .option {
    display: block;
}



/* media query */
@media screen and (max-width: 768px) {

    body {
        font-size: 10px;
    }

    div,
    input,
    button,
    p {

        font-size: inherit;
    }

    .note_container {
        margin: 0 auto 5px;
        border-radius: 5px;
    }

    .form__btn {
        padding: 2px 7px;
    }

    .note_textField {
        padding: 5px;
    }

    .noteManager_flexContainer {
        height: 17px;
    }

    .action__btn,
    .remove__btn {
        height: 25px;
        width: 70px;
        font-size: 10px;

    }

    .noteManager_dropdown {
        width: 70px;
        line-height: 1.5;
    }

    .noteManager_show-modal .noteManager_dropdown {
        transform: translateX(-60%) translateY(10px);
    }

    .user_selection_container {
        margin: 15px 0;

    }

    .user_selection_dropdown {

        min-width: 40px;
    }

    .user_selection_dropdown::before {
        top: 5px;
        width: 5px;
        height: 5px;

    }

    .user_selection_dropdown.active_userName::before {
        top: 11px;

    }

    .user_selection_dropdown .option {
        top: 20px;
    }

}



/* animation */
@keyframes slideIn {
    from {
        top: -100%;
    }

    to {
        top: 0;
    }
}

@keyframes slideOut {
    from {
        top: 0;
    }

    to {
        top: -100%;
    }
}